* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.button-widget {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 50px;
  bottom: 50px;
  height: 50px;
  width: 50px;
  background-color: white;
  box-shadow: 1px 1px 20px lightgray;
  padding: 5px;
  border-radius: 35px;
  text-align: center;
  cursor: pointer;
}

.initial-form-widget {
  height: 450px;
  width: 320px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  box-shadow: 1px 1px 20px lightgray;
  border-radius: 10px 10px 0 0;
}

.chat-frame-header {
  border-radius: 10px 10px 0 0;
  background-color: blue;
  height: 50px;
  display: flex;
  color: white;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
}

.chat-frame-title {
  flex-grow: 1;
}

.chat-frame-close-button {
  cursor: pointer;
  padding: 10px;
}
